.todo {
    display: flex;
    flex-direction: column;
    width: 92%;
    margin: 4% 4%;
    height: 90px;
    border-radius: 7px;
    background: white;
}
.todo .head {
    display: flex;
    padding-top: 10px;
    flex-grow: 1;
}
.todo .Content {
    display: flex;
    flex-grow: 2;
    align-items: center;
    margin-left: 2%;
}
.todo .foot {
    display: flex;
    justify-content: space-between;
    margin-left: 3%;
    margin-right: 3%;
    flex-grow: 1;
}
